html {
  background-color: #050505;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden;
}

body {
  align-items: center;
  font-family: monospace;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 8;
  margin: 0;
}
main {
  position: relative;
  background: #0e0e0e;
  border: 1px solid #000;
  border-radius: 1vmin;
  position: relative;
  height: 80vh;
  width: 90vw;
  z-index: 1;
  perspective: 100rem;
  overflow: hidden;
}

/* OPENNING ANIMATIONS & EASTER - START */

.entry .entry__bar {
  position: absolute;
  width: 102%;
  height: 10%;
  border-radius: 1vmin;
  transform: scaleX(1.1);
  background: -webkit-linear-gradient(
    top,
    rgba(149, 149, 149, 1) 0%,
    rgba(13, 13, 13, 1) 46%,
    rgba(1, 1, 1, 1) 50%,
    rgba(10, 10, 10, 1) 53%,
    rgba(78, 78, 78, 1) 76%,
    rgba(56, 56, 56, 1) 87%,
    rgba(27, 27, 27, 1) 100%
  );
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
}
.entry__bar--left {
  transform-origin: left;
  animation: exitR-entry 1s;
}
.entry__bar--right {
  transform-origin: right;
  animation: exitL-entry 1s;
}

.entry__bar--01 {
  top: 0;
  animation-delay: 0s;
  z-index: 2;
}
.entry__bar--02 {
  top: 10%;
  animation-delay: .1s;
  z-index: 3;
}
.entry__bar--03 {
  top: 20%;
  animation-delay: .2s;
  z-index: 4;
}
.entry__bar--04 {
  top: 30%;
  animation-delay: .3s;
  z-index: 5;
}
.entry__bar--05 {
  top: 40%;
  animation-delay: .4s;
  z-index: 6;
}
.entry__bar--06 {
  top: 50%;
  animation-delay: .5s;
  z-index: 11;
}
.entry__bar--07 {
  top: 60%;
  animation-delay: .6s;
  z-index: 10;
}
.entry__bar--08 {
  top: 70%;
  animation-delay: .7s;
  z-index: 9;
}
.entry__bar--09 {
  top: 80%;
  animation-delay: .8s;
  z-index: 8;
}
.entry__bar--10 {
  top: 90%;
  animation-delay: .9s;
  z-index: 7;
}

.doge {
  background: url("../img/doge.png") no-repeat;
  background-size: contain;
  position: absolute;
  transform: translateY(-10rem);
  left: 10%;
  width: 10rem;
  height: 10rem;
  z-index: 1;
  transition: .3s;
}

/* animations */
.crt {
  background-color: transparent;
  background-image: linear-gradient(
      transparent,
      rgba(200, 200, 200, 0.1) 30%,
      rgba(200, 200, 200, 0.1) 70%,
      transparent
    ),
    repeating-linear-gradient(transparent, rgba(80, 80, 80, 0.2) 2px, transparent 4px);
  background-size: 100% 18rem, 100% 100%;
  animation: crt 25s infinite;
  animation-fill-mode: forwards;
}

.glow-text {
  animation: glow-text 2s infinite;
  animation-fill-mode: forwards;
}

.glow-box {
  animation: glow-box 2s infinite;
  animation-fill-mode: forwards;
}

.doge-animate {
  transform: translateY(0);
  animation: doge-animate 2s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}

@keyframes rotateR-entry {
  0% {
    transform: rotate3d(0, 1, 0);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}
@keyframes rotateL-entry {
  0% {
    transform: rotate3d(1, 0, 0);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate3d(10, 0, 0, -90deg);
  }
}
@keyframes exitR-entry {
  0% {
    transform: translateX(0);
    border-radius: 0;
    animation-timing-function: cubic-bezier(0.11, 0.76, 0.52, 0.96);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes exitL-entry {
  0% {
    transform: translateX(0);
    border-radius: 0;
    animation-timing-function: cubic-bezier(0.11, 0.76, 0.52, 0.96);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes crt {
  0% {
    background-position: 0 0, 0 0;
    animation-timing-function: linear;
  }
  100% {
    background-position: 0 -18rem, 0 0;
  }
}

@keyframes glow-text {
  0% {
    text-shadow: 0 0 .3rem rgb(193, 255, 49, 0);
  }
  50% {
    text-shadow: 0 0 .3rem rgb(193, 255, 49, .7);
  }
  65% {
    text-shadow: 0 0 .3rem rgb(193, 255, 49, .1);
  }
  70% {
    text-shadow: 0 0 .3rem rgb(193, 255, 49, .9);
  }
  100% {
    text-shadow: 0 0 .3rem rgb(193, 255, 49, 0);
  }
}

@keyframes glow-box {
  0% {
    box-shadow: 0 0 .3rem rgb(193, 255, 49, 0);
  }
  50% {
    box-shadow: 0 0 .3rem rgb(193, 255, 49, 9);
  }
  100% {
    box-shadow: 0 0 .3rem rgb(193, 255, 49, 0);
  }
}

@keyframes doge-animate {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  45% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  55% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-1rem);
  }
  65% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-1rem);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10rem);
  }
}

/* OPENNING ANIMATIONS & EASTER - END */

/* TARGET - START */
.target-v,
.target-h {
  position: absolute;
  color: rgb(173, 255, 47);
  content: "";
  transition: .5s cubic-bezier(0, 0, .5, 1);
}
.target-h {
  border-top: 1px solid;
  width: 200vw;
  transform: translateY(-1vw);
}
.target-v {
  border-left: 1px solid;
  height: 200vh;
  transform: translateX(-1vh);
}

/* GERAL */

.list {
  margin: 2rem 1rem 1rem 2rem;
}

.list__item {
  list-style-type: none;

}

.list__item:not(:last-child) {
  margin-bottom: 1rem;
}

.list__link:link,
.list__link:visited {
  color: rgb(173, 255, 47);
  display: inline-block;
  font-size: 1.8rem;
  color: rgb(173, 255, 47);
  text-decoration: none;
  background-image: linear-gradient(180deg, rgb(173, 255, 47) 100%,rgb(245, 47, 228) 0%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.list__link:hover,
.list__link:active {
  background-image: linear-gradient(90deg, rgb(173, 255, 47) 0%, rgb(245, 47, 228) 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
