html {
    background-color: #050505;
}
body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 8;
    margin: 0;
}
#main {
    background: #0e0e0e;
    border: 1px solid #000;
    border-radius: 1vmin;
    position: relative;
    height: 90vh;
    width: 90vw;
    z-index: 1;
    perspective: 1000px;
    overflow: hidden;
}
#main .entryBar {
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 0px;
    background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;

}
.entryBarL { animation: exitR-entry 1s }
.entryBarR { animation: exitL-entry 1s }

#bar01 { 
    top: 0%; 
    animation-delay: 0s;
    z-index: 2;
}
#bar02 { 
    top: 10%; 
    animation-delay: 0.1s;
    z-index: 3;
}
#bar03 { 
    top: 20%; 
    animation-delay: 0.2s;
    z-index: 4;
}
#bar04 { 
    top: 30%; 
    animation-delay: 0.3s;
    z-index: 5;
}
#bar05 { 
    top: 40%; 
    animation-delay: 0.4s;
    z-index: 6;
}
#bar06 { 
    top: 50%; 
    animation-delay: 0.5s;
    z-index: 11;
}
#bar07 { 
    top: 60%; 
    animation-delay: 0.6s;
    z-index: 10;
}
#bar08 { 
    top: 70%; 
    animation-delay: 0.7s;
    z-index: 9;
}
#bar09 { 
    top: 80%; 
    animation-delay: 0.8s;
    z-index: 8;
}
#bar10 { 
    top: 90%; 
    animation-delay: 0.9s;
    z-index: 7;
}

.doge {
    background: url('../img/doge.png') no-repeat;
    background-size: contain;
    position: absolute;
    transform: translateY(-100px);
    left: 10%;
    width: 100px;
    height: 100px;
    z-index: 1;
    transition: 300ms;
    }

/* animations */
.crt {
    background-color: transparent;
    background-image: linear-gradient(transparent, rgba(200,200,200,.1) 30%, rgba(200,200,200,.1) 70%, transparent), repeating-linear-gradient(transparent, rgba(80,80,80,.2) 2px, transparent 4px);
    background-size: 100% 180px, 100% 100%;
    animation: crt 25s infinite;
    animation-fill-mode: forwards;
}
.doge-animate {
    transform: translateY(0);
    animation: doge-animate 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes rotateR-entry {
    0% { transform: rotate3d(0, 1, 0); animation-timing-function: ease-in-out; }
    100% { transform: rotate3d(0, 1, 0, 90deg) }
}
@keyframes rotateL-entry {
    0% { transform: rotate3d(1, 0, 0); animation-timing-function: ease-in-out; }
    100% { transform: rotate3d(10, 0, 0, -90deg) }
}
@keyframes exitR-entry {
    0% { right:0%; border-radius: 0px; animation-timing-function: cubic-bezier(0.11, 0.76, 0.52, 0.96); }
    100% { right:100%; border-radius: 1vmin; }
}
@keyframes exitL-entry {
    0% { left:0%; border-radius: 0px; animation-timing-function: cubic-bezier(0.11, 0.76, 0.52, 0.96); }
    100% { left:100%; border-radius: 1vmin; }
}
@keyframes crt {
    0% { background-position: 0 0, 0 0; animation-timing-function: linear; }
    100% { background-position: 0 -180px, 0 0; }
}
@keyframes doge-animate {
    0% { transform: translateY(0);; animation-timing-function: ease-in-out; }
    45% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    55% { transform: translateY(0) }
    60% { transform: translateY(-10px); }
    65% { transform: translateY(0); }
    70% { transform: translateY(-10px); }
    80% { transform: translateY(0px); }
    100% { transform: translateY(-100px); }
}